<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
  <title>500 error</title>  
    <link rel="stylesheet" href="js/css/layui.css"/>
  
  <style type="text/css">
  *{font-family:"Microsoft Yahei";margin:0;font-weight:lighter;text-decoration:none;text-align:center;line-height:2.2em;}  
  html,body{height:100%;}  
  h1{font-size:100px;line-height:1em;}  
   h2,p{font-size:60px}  
  div,table{width:100%;height:100%;border:0;}  
  .bg {
  background-image: url(seeker_image/500.jpg);
	}
  </style>
</head>
<body >
<div class="bg">  
<table cellspacing="0" cellpadding="0">  
<tr>  
<td>  
<table cellspacing="0" cellpadding="0">  
<tr>  
<td>  
<h1>500 Error</h1> 
<h2>系统异常，请稍后访问</h2>  
</p>  
</td>  
</tr>  
</table>  
</td>  
</tr>  
</table>  
</body> 
</div>
<script type="text/javascript">
</script> 
</html>